{% extends "blog/base.html" %} <!--Inheritance of base.html -->
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> <!-- updated location of image -->
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2> <!--variable that allows for updated username -->
          <p class="text-secondary">{{ user.email }}</p> <!--variable that allows updated email -->
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data"> <!-- new form -->
			{% csrf_token %} <!-- hidden tag, adding csrf token, protects our form against attacks -->
			<fieldset class="form-group"> <!-- Used to group related elements in a form--> 
				<legend class="border-bottom mb-4">Profile Info</legend>
				{{ u_form|crispy }} <!-- accessing form variable, will display form labels and fields that we need -->
				{{ p_form|crispy }}
			</fieldset>
			<div class="form-group"> 
				<button class="btn btn-outline-info" type="submit">Update</button>	<!-- div of submit button to sign up, passing class btn from bootstrap-->		
			</div>
		</form>	
    </div>
{% endblock content %}

<!--users: username, profile pic, email address, ability to update information -->