{% extends "blog/base.html" %} <!--Inheritance of base.html -->
{% block content %}
	<div class="content-section"> <!-- div for making form -->
		<form method="POST"> <!-- new form -->
			{% csrf_token %} <!-- hidden tag, adding csrf token, protects our form against attacks -->
			<fieldset class="form-group"> <!-- Used to group related elements in a form--> 
				<legend class="border-bottom mb-4">Join Today</legend>
				{{ form.as_p }} <!-- accessing form variable, will display form labels and fields that we need -->
			</fieldset>
			<div class="form-group"> 
				<button class="btn btn-outline-info" type="submit">Sign Up</button>	<!-- div of submit button to sign up, passing class btn from bootstrap-->		
			</div>
		</form>	
		<div class="border-top pt-3">
			<small class="text-muted">
				Already have an account? <a class="ml-2" href="#">Sign In</a> <!-- Link to sign in if they already have account-->
			</small>
		</div>
	</div>
{% endblock content %}
